template(name='layout')
	body
		header
			+menu
		main
			+yield
		footer
			+footer

template(name='menu')
	nav.green.darken-2: .nav-wrapper
		ul.left
			li: a(href='/') Beranda
			li: a.dropdown-button(data-activates='menuTentang') Tentang
			li: a.dropdown-button(data-activates='menuPeraturan') Peraturan
			li: a.dropdown-button(data-activates='menuDokumen') Dokumen
		a.brand-logo.center Bidang Penaatan & Penataan Lingkungan BLH
		ul.right
			li: a= userEmail
			unless loggedIn
				li: a(href='/sign-in') Login
			if loggedIn
				li: a(href='/sign-out') Logout
	ul.green.darken-2.dropdown-content#menuTentang
		li: a.white-text Profil
	ul.green.darken-2.dropdown-content#menuPeraturan
		li: a.white-text(href='/rpplh') RPPLH
		li: a.white-text(href='/klhs') KLHS
	ul.green.darken-2.dropdown-content#menuDokumen
		li: a.white-text(href='/slhd') SLHD
		li: a.white-text(href='/pengaduan') Pengaduan
		li: a.white-text(href='/amdal') Amdal
		li: a.white-text(href='/uklupl') UKL UPL
		li: a.white-text(href='/perizinan') Perizinan

template(name='home')
	.parallax-container
		.section.no-pad-bot
			.container
				br
				br
				h1.header.center.white-text Selamat Datang di Bidang Penaatan & Penataan Lingkungan Hidup dan Kehutanan
				.row.center
					h5.header.col.s12.white-text Melalui situs ini Anda akan mendapatkan banyak informasi tentang Bidang
				.row.center
					a.btn-large.waves-effect.waves-light.green(href='/dokumen') Daftar Dokumen
		.parallax
			img(src='gambar_hutan.png')

	.container
		.section
			.row
				.col.m4
					.icon-block
						h2.center.blue-text.text-darken-2
							i.mdi.mdi-account-multiple
						h5.center Tentang Bidang
						p.light Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dictum porttitor leo, eget tempus quam mollis eget. In vitae erat ante. Suspendisse at dictum nisi, id porta dolor. Nulla sagittis risus sed tellus fermentum tempus. Suspendisse potenti. Quisque mollis ante risus, quis condimentum sem tincidunt molestie. Nam eu gravida enim, quis facilisis turpis.
				.col.m4
					.icon-block
						h2.center.orange-text.text-darken-2
							i.mdi.mdi-file-document
						h5.center Kumpulan Dokumen Bidang
						p.light Nullam in metus nec velit volutpat consectetur. Sed sagittis, sem nec sodales scelerisque, dui nisl imperdiet massa, eget molestie eros purus malesuada augue. Nunc interdum felis nec enim venenatis scelerisque. Suspendisse potenti. Etiam et dui risus. Nulla et arcu pulvinar, volutpat lacus vel, tincidunt nulla. Praesent vestibulum sed velit vel posuere.
				.col.m4
					.icon-block
						h2.center.purple-text.text-darken-2
							i.mdi.mdi-bank
						h5.center Daftar Peraturan Bidang
						p.light Ut tempus velit sed placerat convallis. Nam bibendum leo metus, vitae euismod justo semper vel. Nulla nec urna aliquet, laoreet neque sit amet, efficitur odio. Nulla leo massa, ultricies molestie bibendum sit amet, volutpat sed lectus. Aliquam volutpat, lectus vitae semper vestibulum, leo lacus fringilla lorem, id eleifend metus mi vitae turpis. Vivamus egestas erat ut arcu lobortis, sed rutrum purus pharetra. Pellentesque tempus erat in elit iaculis, viverra blandit velit finibus.

template(name='blog')

	section.green.darken-3
		.container
			.row
				.col.m9
					h1.header.white-text Halaman {{categoryTitle}}
					.divider
					h4.light.white-text Berisi daftar dokumen yang berhubungan dengan {{categoryTitle}}
			.row

	unless editData
		unless readData
			.row: .container: .btn.right#showAdd Tambah
	if showAdd
		+insert
	if editData
		+edit
	if readData
		+read

	unless formMode
		.container
			.row
				each datas
					.col.m4
						.card.grey.lighten-4
							.card-content
								.card-title= title
								p= text
							.card-action
								a.blue-text#read Baca
								if loggedIn
									a.red-text.right#remove Hapus
									a.green-text.right#edit Ubah

template(name='page')
	.container
		.row
			.col.m12
				.section
					h2.header Material Design
					span.mdi.mdi-home
					span.blue-text 12 Jan 2017
					.divider
				p.flow-text contoh teks untuk masuk dalam paragraf

template(name='insert')
	.container
		h3 Tambah Data
		.row
		+quickForm(
			collection= theColl
			schema= theSchema
			type= 'insert'
			id= 'insertData'
		)

template(name='edit')
	.container
		h3 Ubah Data
		.row
		+quickForm(
			collection= theColl
			schema= theSchema
			type= 'update'
			id= 'updateData'
			doc= data
		)
		.btn.right#close Tutup

template(name='read')
	.container
		with data
			h2= title
			span: i.mdi.mdi-calendar
			span= date
			p.flow-text= text
		with file
			span: i.mdi.mdi-download
			a(href= url target='_blank')= name
			img.materialboxed(src= url width='500')
		.btn.right#close Tutup

template(name='footer')
	footer.page-footer.green.darken-2
		.container
			.row
				.col.l6.s12
					h5.white-text Kontak Dinas
					p.white-text You can use rows and columns here to organize your footer content
				.col.l4.offset-l2.s12
					h5.white-text Alamat Lainnya
					ul
						li: a.white-text Link 1
						li: a.white-text Link 2
		.footer-copyright
			.container
				span 2017 Hak Cipta Milik Dinas Lingkungan Hidup & Kehutanan Provinsi Riau
				a.white-text.right More Links

template(name='loading')
	.container: .progress.center: .indeterminate
